#historyDrive33 {
    background-color: white;
    border-radius: 4%;
    height: 12.5vmin;
    width: 148%;
    position: relative;
    left: -27%;
    box-shadow: 4px 4px 9px 13px rgba(184, 205, 156, 0.04);
    border-radius: 10px;
    margin: 3.5%;
}

#first_lastName33 {
    position: absolute;
    left: 10%;
    right: 3%;
    top: 8%;
    bottom: 73.83%;
    width: 50%;
    font-family: 'Almoni ML v5 AAA';
    font-style: normal;
    font-weight: 700;
    font-size: 2vmin;
    line-height: 60%;
    /* identical to box height */

    text-align: right;

    color: #292929;
}

#sourse33 {
    position: absolute;
    /* left: 10%; */
    right: 3%;
    top: 30%;
    bottom: 73.83%;
    width: 30%;
    font-family: 'Almoni ML v5 AAA';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vmin;
    line-height: 140%;
    /* identical to box height */
    text-align: right;
    color: #292929;
}

#destination33 {
    position: absolute;
    left: 0%;
    right: 65%;
    /* margin-left: 30%; */
    /* margin-right: 60%; */
    top: 30%;
    bottom: 73.83%;
    width: 30%;
    font-family: 'Almoni ML v5 AAA';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vmin;
    line-height: 140%;
    /* identical to box height */
    text-align: right;
    color: #292929;
}

#line33 {
    margin-top: 4.5%;
    margin-right: 37%;
    color: black;
}

#phone33 {
    /* width: 50%; */
    /* height: 18px; */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vmin;
    /* line-height: 18px; */
    /* identical to box height */
    /* top: 100px; */
    margin-right: 22%;
    /* margin-top: 14%; */

    margin-top: 7%;
    text-align: right;
    color: #949494;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#email33 {
    /* width: 250%; */
    /* height: 18px; */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vmin;
    /* line-height: 18px; */
    /* identical to box height */
    margin-right: 47%;
    margin-bottom: -10%;
    text-align: right;
    color: #949494;
    margin-top: -5%;

    /* Inside auto layout */


}

#phoneIcon33 {
    /* width: 50%; */
    /* height: 18px; */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    /* font-size: 14px; */
    /* line-height: 18px; */
    /* identical to box height */
    /* margin-right: 15%; */
    /* margin-top: 14%; */
    /* top:100px; */
    /* margin-top: 15%; */
    text-align: right;
    color: #949494;
    /* Inside auto layout */


}

#emailIcon33 {
    /* margin-top: 2%;
    left: 10%;
    right: 50%;
    top: 0%;
    width: 35%;
    height: 35%; */
    width: 68%;
    height: 18%;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    /* font-size: 12px; */
    /* line-height: 18px; */
    /* identical to box height */
    margin-right: 50%;
    margin-bottom: -10%;
    text-align: right;
    color: #949494;
    margin-top: -6%;
}

#date_time33 {
    position: absolute;
    left: 10%;
    right: 78%;
    top: 8%;
    bottom: 73.83%;
    width: 50%;
    font-family: 'Almoni ML v5 AAA';
    font-style: normal;
    font-weight: 700;
    font-size: 1.55vmin;
    line-height: 24px;
    /* identical to box height */
    text-align: right;
    color: #292929;
}

#myDrivesTitle {

    width: 50%;
    /* height: 35px; */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 4vmin;
    ;
    /* line-height: 15px; */
    margin-top: 3%;
    margin-left: 45%;
    color: #292929;

}

#day {
    width: 70%;
    font-family: 'Heebo';
    font-style: normal;
    font-size: 2vmin;
    margin-left: 24%;
    color: #292929;
}


#line3 {
    margin-top: 9%;
    color: #949494;
}

/* #stackHistory {
    margin-top: 6%;
    margin-right: 20%;
    margin-left: 12%;
} */

/* #stackHistory2 {
    margin-top: 4%;
    margin-right: 30%;
    margin-left: 48%;
} */
#stackHistory33{
    margin-top: 4%;
    margin-right: 50%;
    margin-left: 38%;
    width: 50%;

}