

.txtRestart {

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 2vmin;
    line-height: 125%;
    text-align: right;


    color: #000000;


    position: absolute;

    left: 25%;
    top: 28%;

}

.txtLableMail {
    position: absolute;
    left: 25%;
    top: 33.6%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    text-align: right;

    /* אפור 2 */

    color: #9D9D9D;
}

.inputMail {
    width: 20%;
    height: 5%;
    background: #F4F0ED;
    border: 1px solid #9D9D9D;
    border-radius: 6px;
    position: absolute;
    left: 17%;
    top: 38%;
    background: #FFFFFF;

}

.submitMailBtn {
    width: 20%;
    height: 5%;
    background: #F4F0ED;
    border: 1px solid #9D9D9D;
    border-radius: 6px;
    position: absolute;
    left: 17%;
    top: 45%;
}

