#passengerfutureDrives7 {
    background-color: white;
    border-radius: 10%;
    height: 15vmin;
    width: 90%;
    position: relative;
    margin-top: 16%;
    margin-left: 3%;
    left: 2%;
    box-shadow: 4px 4px 9px 13px rgba(184, 205, 156, 0.04);
    border-radius: 10px;
    margin: 4%;
}

#first_lastName7 {
    position: absolute;
    left: 10%;
    right: 3%;
    top: 8%;
    bottom: 73.83%;
    width: 50%;
    font-family: 'Almoni ML v5 AAA';
    font-style: normal;
    font-weight: 700;
    font-size: 2vmin;
    /* line-height: 30%; */
    /* identical to box height */

    text-align: right;

    color: #292929;
}

#sourse7 {
    position: absolute;
    /* left: 10%; */
    right: 3%;
    top: 30%;
    bottom: 73.83%;
    width: 50%;
    font-family: 'Almoni ML v5 AAA';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vmin;
    /* line-height: 24px; */
    /* identical to box height */
    text-align: right;
    color: #292929;
}

#destination7 {
    position: absolute;
    left: 0%;
    right: 65%;
    /* margin-left: 30%; */
    /* margin-right: 60%; */

    top: 30%;
    bottom: 73.83%;
    width: 50%;
    font-family: 'Almoni ML v5 AAA';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vmin;
    /* line-height: 24px; */
    /* identical to box height */
    text-align: right;
    color: #292929;
}


#line75 {
    position: absolute;

    margin-right: -30%;
    margin-top: 16%;
    color: black;
    width: 160%;





}

#phone7 {
    /* width: 50%; */
    /* height: 18px; */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4vmin;
    /* line-height: 18px; */
    /* identical to box height */
    margin-right: 22%;
    margin-top: 9.9%;
    text-align: right;
    color: #949494;

    /* Inside auto layout */


}

#email7 {

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4vmin;
    /* line-height: 18px; */
    /* identical to box height */
    margin-right: 47%;
    /* margin-bottom: 20%; */
    text-align: right;
    color: #949494;
    /* margin-top: 10%; */
    top: -16%;
    position: relative;
    /* Inside auto layout */


}




#date_time7 {
    position: absolute;
    left: 10%;
    right: 78%;
    top: 8%;
    bottom: 73.83%;
    width: 50%;
    font-family: 'Almoni ML v5 AAA';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6vmin;
    /* identical to box height */

    text-align: right;

    color: #292929;
}




.cancelbutton7{
    position: absolute !important;
    left: -60% !important;
    right: 60% !important;
    top: 78% !important;
    bottom: 63.57% !important;
    /* width: 50%; */
    font-family: 'Noto Sans Hebrew' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 1.7vmin !important;
   
    height: 20% !important;
    text-align: center !important;
    color: #E64242 !important;
    width: 40% !important;
    /* cursor: not-allowed !important; */

}

#numOfSeets7 {
    margin-top:-1%;
    font-size: 1.2vmin;
    margin-right: 10%;
}
#stackHistory2{
width: 50%;
margin-left:30%;

}
.notAllowedCancel {
    cursor: not-allowed !important;
    position: absolute !important;
    left: -60% !important;
    right: 60% !important;
    top: 78% !important;
    bottom: 63.57% !important;
    /* width: 50%; */
    font-family: 'Noto Sans Hebrew' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 1.7vmin !important;
   
    height: 20% !important;
    text-align: center !important;
    width: 40% !important;
}
.loaderCancel{
    width: 60px !important;
    height: 60px !important;
    position: absolute!important;
    left: 50%!important;
    top: 40%!important;
    color: #000000a6!important; 
}