.dateUpdateDriveDetails {
    position: relative;
    left: 51.04%;
    right: 0%;
    top: 7%;
    bottom: 66.11%;
    width: 49%;
    /* background: #f4f0ed; */

    border-radius: 3%;
    height: 5.8vmin;
    /* margin-top: 20%; */
    border-color: rgb(204, 200, 200);
    border-width: 1px;
    border-style: groove;
}

.sourceCityUpdatedrive {
    position: absolute;
    right: 1.5%;
    margin: 3%;
    width: 45%;
    top: 15%;
    text-align: center;
}

.sourceStreetUpdatedrive {
    position: absolute;
    right: 48%;
    margin: 3%;
    width: 45%;
    top: 15%;
    text-align: center;
}

.destinationCityUpdatedrive {
    position: absolute;
    right: 1.5%;
    margin: 3%;
    width: 45%;
    top: 25%;
    text-align: center;
}

.destinationStreetUpdatedrive {
    position: absolute;
    right: 48%;
    margin: 3%;
    width: 45%;
    top: 25%;
    text-align: center;
}

.genderUpdatedrive {
    position: absolute;
    right: 48%;
    margin: 3%;
    width: 45%;
    top: 35%;
    text-align: center;
}

.hoursUpdatedrive {
    /* position: absolute; */
    right: 0.5%;
    /* margin: 3%; */
    width: 45%;
    top: 65%;
    text-align: center;
}

.minutsUpdatedrive {
    position: absolute;
    right: 48%;
    /* margin: 3%; */
    width: 45%;
    top: 65% !important;
    text-align: center;
}

/* .css-13cymwt-control {
    margin-top: 50% !important;
    right: 100% !important;
} */